.list {
  list-style-type: none;
  margin-right: 30px;
  float: right;

  &-item {
    margin-bottom: 20px;
  }
  &-item > a {
    padding-bottom: 5px;
    text-decoration: none;
    border-bottom: 1px solid gray;
    color: black;

    &:hover {
      color: gray;
      border: none;
    }
  }
}