<app-note (onNoteAdd)="newNoteAdded($event)"></app-note>

<div class="all-notes">
    <div class="note"
         *ngFor=" let n of notes">
        <div class="note-description">
            <div class="note-row">
                <p>
                    {{n.title}}
                </p>
            </div>
            <div class="note-row">
                <div>
                    {{n.text}}
                </div>
            </div>
            <div class="controls">
                <div class="mark-done">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Mark as done
                        </label>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-add">
                        <i class="material-icons">create</i>
                    </button>
                    <button class="btn btn-archive">
                        <i class="material-icons">delete_outline</i>
                    </button>
                    <button class="btn btn-delete" (click)="deleteNote(currentNote)">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>