<app-note (noteAdded)="newNoteAdded($event)"></app-note>

<div class="all-notes">
    <div class="note"
         *ngFor=" let note of notes">
        <div class="note-description">
            <div class="note-row">
                <p>
                    {{note.title}}
                </p>
            </div>
            <div class="note-row">
                <div>
                    {{note.text}}
                </div>
            </div>
            <div class="controls">
                <div class="mark-done">
                    <div class="">
                      <span class="hover-cursor" [class.text-success]="note.isChecked"
                            (click)="markCheck(note)">
                          <i class="far fa-lg" [ngClass]="note.isChecked ?
                                                        'far fa-check-circle':
                                                        'far fa-circle'">
                          </i>
                        <span *ngIf="note.isChecked"> unmark as done</span>
                        <span *ngIf="!note.isChecked">mark as done</span>
                        </span>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit" class="btn btn-add">
                        <i class="material-icons">create</i>
                    </button>
                    <button class="btn btn-archive">
                        <i class="material-icons">delete_outline</i>
                    </button>
                    <button class="btn btn-delete" (click)="deleteCurrentNote(note)">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
